<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-admob-mediation-facebook"
    version="1.2.2">

    <name>AdMob Mediation Adapter for Facebook Audience Network</name>
    <description>AdMob Mediation Adapter for Facebook Audience Network</description>
    <author>Sylvain Bréjeon</author>
    <keywords>admob,mediation,facebook</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">
        <framework src="com.facebook.android:audience-network-sdk:4.23.0" />
        <framework src="com.google.ads.mediation:facebook:4.23.0.0" />
    </platform>

    <platform name="ios">
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <pod id="FBAudienceNetwork" version="4.23.0" />
        <pod id="GoogleMobileAdsMediationFacebook" version="4.23.0.0" />
    </platform>
    
    <dependency id="cordova-plugin-cocoapod-support"/>

</plugin>