<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-admob-mediation-facebook"
    version="1.2.7">

    <name>AdMob Mediation Adapter for Facebook Audience Network</name>
    <description>AdMob Mediation Adapter for Facebook Audience Network</description>
    <author>Sylvain Bréjeon</author>
    <keywords>admob,mediation,facebook</keywords>
    <license>MIT</license>

    <platform name="android">
        <framework src="com.facebook.android:audience-network-sdk:5.2.0" />
        <framework src="com.google.ads.mediation:facebook:5.2.0.1" />
    </platform>

    <platform name="ios">
        <pods-config ios-min-version="9.0" use-frameworks="true" />
        <pod name="FBAudienceNetwork" version="5.2.0" />
        <pod name="GoogleMobileAdsMediationFacebook" version="5.2.0.1" />
    </platform>
    
    <dependency id="cordova-plugin-cocoapod-support" version="1.6.0" />

</plugin>